<div class="col-sm-12 col-md-9 main-content leadership">
						<div class="card">
						<header style="background-image: url(assets/images/board-room-1024x425.jpg);">
								<div class="overlay">
									<h1>Team</h1>
								</div>
							</header>
							<div class="row visible-xs">
								<div class="col-sm-12">
									<ul id="menu-footer-bucket-2" class="footer-bucket list-unstyled"><li class="about-us menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-696"><a href="/about">About Us</a></li>
								   <li id="menu-item-696" class="about-us menu-item "><a routerLink="/about/aboutus">About Us</a></li>
<li id="menu-item-773" class="menu-item "><a routerLink="/about/leadership">Leadership</a></li>
<li id="menu-item-695" class="menu-item "><a routerLink="/about/careers">Careers</a></li>
<li id="menu-item-769" class="menu-item "><a href="/about/testimonals">Testimonials</a></li>
<li id="menu-item-1128" class="menu-item"><a href="/location">Locations</a></li>
<li id="menu-item-694" class="menu-item "><a href="/about/press">Press</a></li>
<li id="menu-item-693" class="menu-item"><a href="/about/contactus">Contact Us</a></li>
</ul>
								</div>
							</div>
							<article>
								<!-- Management Team -->
								<div class="row">
									<div class="col-sm-12 col-md-10 col-md-offset-1">
																				<div class="row person">
											<div class="col-sm-12">
												<img src="assets/images/maile-pacheco-1.jpg" class="img-responsive headshot"><br>
												<h2>
													Maile Pacheco
													<small>Founder</small>
													</h2>
												<p>Maile has been in the beauty and fashion industry for more than 10 years as a professional makeup artist and marketing manager. Before launching beGlammed, she served as Artist Relations Specialist for MAC Cosmetics, where she managed MAC’s professional relationships in the entertainment<br>
industry. Her background includes beauty marketing, corporate sponsorships and relationship building with power players in the beauty industry and celebrity makeup artists and hairstylists. She is also a board member of the prestigious Makeup Designory makeup school.</p>
											</div>
										</div><!-- end of person row -->
																				<div class="row person">
											<div class="col-sm-12">
												<img src="assets/images/REBBY-HEADSHOY.jpg" class="img-responsive headshot"><br>
												<h2>
													Rebby Gregg
													<small>Chief Executive Officer and Investor</small>
													</h2>
												<p>Rebby has nearly 20 years of experience in the venture capital business starting, managing and building early-stage companies. He has held roles as CFO, COO and General Counsel of prior portfolio companies and brings financial, operational, and legal expertise to the company. Rebby also practiced law at King &amp; Spalding and Andrews &amp; Kurth, specializing in mergers and acquisitions, securities and general corporate matters. He holds a B.A. with honors from Princeton University and a J.D. with honors from the University of Texas School of Law.</p>
											</div>
										</div><!-- end of person row -->
																				<div class="row person">
											<div class="col-sm-12">
												<img src="assets/images//Jennifer-Headshot.jpg" class="img-responsive headshot"><br>
												<h2>
													Jennifer Musselman
													<small>Chief Strategy Officer</small>
													</h2>
												<p>Jennifer has nearly 20 years of leadership experience with global brands and small businesses. She served as a brand communications executive for Viacom’s MTV Networks Kids and Family Entertainment division for 13 years, and was also an executive consultant for Ogilvy &amp; Mather, leading Fortune 500 brand engagement campaigns and developing strategic partnerships in technology, travel and tourism and entertainment brands. She is an adjunct professor at the University of Southern California and holds a Master’s degree in Psychology from Pepperdine University and a B.A. in Communications from University of Northern Iowa.</p>
											</div>
										</div><!-- end of person row -->
																				<div class="row person">
											<div class="col-sm-12">
												<img src="assets/images/david-tiger-headshot-1.jpg" class="img-responsive headshot"><br>
												<h2>David Kiger
													<small>Investor and Advisor</small>
													</h2>
												<p>As an entrepreneur, David brings valuable start-up and management experience to the company. David founded Worldwide Express in 1995 and grew the company to a 150-plus franchise system with over $700 million in sales, including leading the company through a recap with Allied Capital in 2007<br>
and a second recap with Quad C in 2013. He currently serves as Executive Chairman of the Board of Worldwide Express. Prior to starting Worldwide Express, David worked for the Trammel Crow Company. He graduated from the University of Alabama.</p>
											</div>
										</div><!-- end of person row -->
																				<div class="row person">
											<div class="col-sm-12">
												<img src="assets/images/image002.jpg" class="img-responsive headshot"><br>
												<h2>
													James Bradicich
													<small>Director of Marketing &amp; Business Development</small>
													</h2>
												<p>James has nearly 10 years of experience driving relevance for global brands in the marketing and PR space with expertise in beauty, lifestyle, entertainment and travel. He has worked for leading companies such as Edelman, Ogilvy &amp; Mather, Burson-Marsteller and PMK*BNC in New York and Los Angeles. James graduated with honors from the University of Southern California, where he was elected the Public Relations Student Society of America (PRSSA) President and USC Squash Team Captain.</p>
											</div>
										</div><!-- end of person row -->
																			</div>
								</div>
							</article>
													</div>
					</div>