<section class="booking">
					<div class="container outer">
					<div class="row">
						<div class="col-sm-12 col-md-8 col-md-offset-0 col-lg-6 col-lg-offset-1">
							<div class="card step-1">
								<div class="container-fluid">
									<form  id="step1"  [formGroup]="heroForm" (ngSubmit)="onSubmit()" novalidate>
										<legend>Select Your Services</legend>
										<div class="form-group city">
											<label for="location">Choose Your Location</label>
											<select name="location" id="location" class="form-control active"  >
												<option value="">- Select your city -</option>
												<option value="Austin">Austin</option>
												<option value="Boca Raton">Boca Raton</option>
												<option value="Dallas">Dallas</option>
												<option value="Ft Lauderdale">Ft Lauderdale</option>
												<option value="Houston">Houston</option>
												<option value="Las Vegas">Las Vegas</option>
												<option value="Los Angeles">Los Angeles</option>
												<option value="Miam">Miami</option>
												<option value="New York City">New York City</option>
												<option value="Orange County">Orange County</option>
												<option value="Palm Beach">Palm Beach</option>
												<option value="Phoenix/Scottsdale">Phoenix/Scottsdale</option>
												<option value="San Diego">San Diego</option>
												<option value="San Francisco">San Francisco</option>
											</select>
										</div>
										<div class="form-group audience">
											<label for="audience">Booking for:</label>
											<div class="col-sm-6">
                                              <button   class="btn btn-lg btn-primary btn-block push btn-active">Personal</button> </div>
                                        <div class="col-sm-6">
										<button   class="btn btn-lg btn-primary btn-block push">Bridal</button></div>
										</div>
										<div class="form-group experience">
											<label for="experience" class="title" style="display: block">Choose Stylist Experience <a (click)="modal1.show()">Learn more</a></label>
											<small class="extra">Pricing is determined by your stylist's level of experience</small>
											<div class="radio box">
												<label for="pretty">
											
													<input type="radio" name="pretty" id="pretty"  formControlName="pretty" value="pretty" [style.background-color]="'yellow'" (click)="setradio('pretty')"  ngModel>Pretty<em>$</em>
												</label>
											</div>
											<div class="radio box active">
												<label for="beautiful">
													<input type="radio" name="beautiful" id="beautiful" formControlName="beautiful" value="beautiful" (click)="setradio('beautiful')" [checked]='true' ngModel>Beautiful<em>$$</em>
												</label>
											</div>
											<div class="radio box">
												<label for="glamorous">
													<input type="radio" name="glamorous" id="glamorous" formControlName="glamorous" value="glamorous" (click)="setradio('glamorous')"  ngModel>Glamorous<em>$$$</em>
												</label>
											</div>
										</div>

										<!-- START OF PRETTY HTML -->
										<div class="pretty" *ngIf="isSelected('pretty')">
											<div class="form-group hair">
												<label for="" class="title">Hair Services <a (click)="modal2.show()">Learn more</a><span class="quantity">Quantity</span></label>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Blowout - $40</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="blowout_pretty" id="blowout_pretty" class="form-control" formControlName="blowout_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" name="blowout0" type="button" (click)="increment('blowout0')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default"  type="button" name="blowout0" (click)="decrement('blowout0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Downdo - $40</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="downdo_pretty" id="downdo_pretty" class="form-control" formControlName="downdo_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
															    <button class="btn btn-default" type="button" name="downdo0" (click)="increment('downdo0')"><i class="glyphicon glyphicon-chevron-up hidden-xs" ></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="downdo0" (click)="decrement('downdo0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Updo - $55</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="updo_pretty" id="updo_pretty" class="form-control"  formControlName="updo_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="updo0" (click)="increment('updo0')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="updo0" (click)="decrement('updo0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service pretty_clips" style="display: none">
													<div class="col-sm-9 reduced">How many people have clip-in extensions?<br><small>($25 additional for styling)</small></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="clipin_pretty" id="clipin_pretty" class="form-control" formControlName="clipin_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="clipin0" (click)="increment('clipin0')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="clipin0" (click)="decrement('clipin0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group makeup">
												<label for="" class="title">Makeup Services <a (click)="modal3.show()">Learn more</a><span class="quantity">Quantity</span></label>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Glam Makeup - $60</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="glammakeup_pretty" id="glammakeup_pretty" class="form-control" formControlName="glammakeup_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="glammakeup0" (click)="increment('glammakeup0')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="glammakeup0" (click)="decrement('glammakeup0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
									
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Glam Airbrush Makeup - $100</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="glambrush_pretty" id="glambrush_pretty" class="form-control" formControlName="glambrush_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="glambrush0" (click)="increment('glambrush0')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="glambrush0" (click)="decrement('glambrush0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Makeup Touchup for 1 - $30</a><br class="hidden-xs"/><small>(must book with a hair service)</small></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="touchup_pretty" id="touchup_pretty" class="form-control" formControlName="touchup_pretty" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="touchup0" (click)="increment('touchup0')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="touchup0" (click)="decrement('touchup0')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-xs-8">Group Touchup - $100</div>
													<div class="col-xs-4 text-right check">
														<div class="checkbox">
															<label>
																<input type="checkbox" name="glamtouch_pretty" id="glamtouch_pretty" formControlName="glamtouch_pretty" (click)="increment('glamtouch_pretty')"> 
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group summary_pretty"  *ngIf="isSelected2()">
												<label for="" class="title">Order Summary</label>
												<div class="row" id="pretty_blowout_row"  *ngIf="heroForm.get('blowout_pretty').value && isSelected1('blowout0')">
													<div class="col-xs-9">Pretty Blowout ({{ heroForm.get('blowout_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_blowout_total">{{ heroForm.get('blowout_pretty').value * 40 }}</span>.00</div>
												</div>
												<div class="row" id="pretty_downdo_row"  *ngIf=" heroForm.get('downdo_pretty').value && isSelected1('downdo0')">
													<div class="col-xs-9">Pretty Downdo ({{ heroForm.get('downdo_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_downdo_total">{{ heroForm.get('downdo_pretty').value * 40 }}</span>.00</div>
												</div>
												<div class="row" id="pretty_updo_row"  *ngIf="heroForm.get('updo_pretty').value && isSelected1('updo0')">
													<div class="col-xs-9">Pretty Updo ({{ heroForm.get('updo_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_updo_total">{{ heroForm.get('updo_pretty').value * 55 }}</span>.00</div>
												</div>
												<div class="row" id="pretty_glammakeup_row"  *ngIf="heroForm.get('glammakeup_pretty').value && isSelected1('glammakeup0')">
													<div class="col-xs-9">Pretty Glam Makeup ({{ heroForm.get('glammakeup_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_glammakeup_total">{{ heroForm.get('glammakeup_pretty').value * 60 }}</span>.00</div>
												</div>
												<div class="row" id="pretty_glambrush_row"  *ngIf="heroForm.get('glambrush_pretty').value && isSelected1('glambrush0')">
													<div class="col-xs-9">Pretty Glam Airbrush Makeup ({{ heroForm.get('glambrush_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_glambrush_total">{{ heroForm.get('glambrush_pretty').value * 100  }}</span>.00</div>
												</div>
												<div class="row" id="pretty_touchup_row"  *ngIf="heroForm.get('touchup_pretty').value && isSelected1('touchup0')">
													<div class="col-xs-9">Makeup Touchup for 1 ({{ heroForm.get('touchup_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_touchup_total">{{ heroForm.get('touchup_pretty').value * 30 }}</span>.00</div>
												</div>
												<div class="row" id="pretty_glamtouch_row"  *ngIf=" heroForm.get('glamtouch_pretty').value && isSelected1('glamtouch_pretty')">
													<div class="col-xs-9">Pretty Group Touchup ({{ heroForm.get('glamtouch_pretty').value }})</div>
													<div class="col-xs-3 price">$<span id="pretty_glamtouch_total">{{ heroForm.get('glamtouch_pretty').value * 100 }}</span>.00</div>
												</div>
												<div class="row" id="pretty_clipin_row"  *ngIf="isSelected1('clipin0')">
													<div class="col-xs-9">Clip-in Extensions (<span id="pretty_clipin_qty"></span>)</div>
													<div class="col-xs-3 price">$<span id="pretty_clipin_total"></span>.00</div>
												</div>
												<div class="row subtotal_row" id="subtotal_row_pretty">
													<div class="col-xs-3"><strong>Subtotal:</strong></div>
													<div class="col-xs-9 price">$<span id="subtotal_pretty">{{ heroForm.get('totalamt_pretty').value }}</span>.00<br><small>(18% gratuity calculated at checkout)</small></div>
												</div>
											</div>
										</div>
										<!-- END OF PRETTY HTML -->

										<!-- START OF BEAUTIFUL HTML -->
										<div class="beautiful" *ngIf="isSelected('beautiful')">
											<div class="form-group hair">
												<label for="" class="title">Hair Services <a (click)="modal2.show()">Learn more</a><span class="quantity">Quantity</span></label>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Blowout - $70</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="blowout_beautiful" id="blowout_beautiful" class="form-control" formControlName="blowout_beautiful" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" name="blowout1" type="button" (click)="increment('blowout1')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default"  type="button" name="blowout1" (click)="decrement('blowout1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Downdo - $70</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="downdo_beautiful" id="downdo_beautiful" class="form-control" formControlName="downdo_beautiful" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="downdo1" (click)="increment('downdo1')"><i class="glyphicon glyphicon-chevron-up hidden-xs" ></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="downdo1" (click)="decrement('downdo1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Updo - $85</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="updo_beautiful" id="updo_beautiful" class="form-control" formControlName="updo_beautiful" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="updo1" (click)="increment('updo1')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="updo1" (click)="decrement('updo1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service beautiful_clips" style="display: none">
													<div class="col-sm-9 reduced">How many people have clip-in extensions?<br><small>($25 additional for styling)</small></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="clipin_beautiful" id="clipin_beautiful" class="form-control" formControlName="clipin_beautiful" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="clipin1" (click)="increment('clipin1')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="clipin1" (click)="decrement('clipin1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group makeup">
												<label for="" class="title">Makeup Services <a (click)="modal3.show()">Learn more</a><span class="quantity">Quantity</span></label>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Glam Makeup - $95</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="glammakeup_beautiful" id="glammakeup_beautiful" class="form-control" formControlName="glammakeup_beautiful" >
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="glammakeup1" (click)="increment('glammakeup1')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="glammakeup1" (click)="decrement('glammakeup1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Glam Airbrush Makeup - $135</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="glambrush_beautiful" id="glambrush_beautiful" class="form-control" formControlName="glambrush_beautiful" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="glambrush1" (click)="increment('glambrush1')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="glambrush1" (click)="decrement('glambrush1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Makeup Touchup for 1 - $30</a><br class="hidden-xs"/><small>(must book with a hair service)</small></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="touchup_beautiful" id="touchup_beautiful" class="form-control" formControlName="touchup_beautiful" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="touchup1" (click)="increment('touchup1')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="touchup1" (click)="decrement('touchup1')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-xs-8">Group Touchup - $100</div>
													<div class="col-xs-4 text-right ">
														<div class="checkbox">
															<label>
																<input type="checkbox" name="glamtouch_beautiful" id="glamtouch_beautiful" formControlName="glamtouch_beautiful" (click)="increment('glamtouch_beautiful')"> 
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group summary_beautiful" *ngIf="isSelected2()" >
												<label for="" class="title">Order Summary</label>
												<div><div class="row" id="beautiful_blowout_row" *ngIf="heroForm.get('blowout_beautiful').value && isSelected1('blowout1')" >
													<div class="col-xs-9">Beautiful Blowout ({{ heroForm.get('blowout_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_blowout_total">{{ heroForm.get('blowout_beautiful').value * 70 }}</span></div>
												</div></div>
												<div><div class="row" id="beautiful_downdo_row" *ngIf="heroForm.get('downdo_beautiful').value && isSelected1('downdo1')">
													<div class="col-xs-9">Beautiful Downdo ({{ heroForm.get('downdo_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_downdo_total">{{ heroForm.get('downdo_beautiful').value * 70 }}</span></div>
												</div></div>
												<div class="row" id="beautiful_updo_row" *ngIf="heroForm.get('updo_beautiful').value && isSelected1('updo1')">
													<div class="col-xs-9">Beautiful Updo ({{ heroForm.get('updo_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_updo_total">{{ heroForm.get('updo_beautiful').value * 85  }}</span></div>
												</div>
												<div class="row" id="beautiful_glammakeup_row" *ngIf="heroForm.get('glammakeup_beautiful').value && isSelected1('glammakeup1')">
													<div class="col-xs-9">Beautiful Glam Makeup ({{ heroForm.get('glammakeup_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_glammakeup_total">{{ heroForm.get('glammakeup_beautiful').value  * 95}}</span></div>
												</div>
												<div class="row" id="beautiful_glambrush_row" *ngIf="heroForm.get('glambrush_beautiful').value && isSelected1('glambrush1')">
													<div class="col-xs-9">Beautiful Glam Airbrush Makeup ({{ heroForm.get('glambrush_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_glambrush_total">{{ heroForm.get('glambrush_beautiful').value * 135  }}</span></div>
												</div>
												<div class="row" id="beautiful_touchup_row" *ngIf="heroForm.get('touchup_beautiful').value && isSelected1('touchup1')">
													<div class="col-xs-9">Makeup Touchup for 1 ({{ heroForm.get('touchup_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_touchup_total">{{ heroForm.get('touchup_beautiful').value *30 }}</span></div>
												</div>
												<div class="row" id="beautiful_glamtouch_row" *ngIf="heroForm.get('glamtouch_beautiful').value && isSelected1('glamtouch_beautiful')">
													<div class="col-xs-9">Beautiful Group Touchup ({{ heroForm.get('glamtouch_beautiful').value }})</div>
													<div class="col-xs-3 price">$<span id="beautiful_glamtouch_total">{{ heroForm.get('glamtouch_beautiful').value * 100 }}</span></div>
												</div>
												<div class="row" id="beautiful_clipin_row" *ngIf="isSelected1('clipin1')">
													<div class="col-xs-9">Clip-in Extensions (<span id="beautiful_clipin_qty"></span>)</div>
													<div class="col-xs-3 price">$<span id="beautiful_clipin_total"></span>.00</div>
												</div>
												<div class="row subtotal_row" id="subtotal_row_beautiful">
													<div class="col-xs-3"><strong>Subtotal:</strong></div>
													<div class="col-xs-9 price">$<span id="subtotal_beautiful">{{(heroForm.get('totalamt_beautiful').value)}}</span>.00<br><small>(18% gratuity calculated at checkout)</small></div>
												</div>
											</div>
										</div>
										<!-- END OF BEAUTIFUL HTML -->

										<!-- START OF GLAMOROUS HTML -->
										<div class="glamorous" *ngIf="isSelected('glamorous')">
											<div class="form-group hair">
												<label for="" class="title">Hair Services <a (click)="modal2.show()">Learn more</a><span class="quantity">Quantity</span></label>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Blowout - $175</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="blowout_glamorous" id="blowout_glamorous" class="form-control" formControlName="blowout_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" name="blowout2" type="button" (click)="increment('blowout2')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default"  type="button" name="blowout2" (click)="decrement('blowout2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Downdo - $175</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="downdo_glamorous" id="downdo_glamorous" class="form-control" formControlName="downdo_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="downdo2" (click)="increment('downdo2')"><i class="glyphicon glyphicon-chevron-up hidden-xs" ></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="downdo2" (click)="decrement('downdo2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
																
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Updo - $195</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="updo_glamorous" id="updo_glamorous" class="form-control" formControlName="updo_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="updo2" (click)="increment('updo2')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="updo2" (click)="decrement('updo2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service glamorous_clips" style="display: none">
													<div class="col-sm-9">Do you have clip-in extensions?<br><small>($25 additional for styling)</small></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="clipin_glamorous" id="clipin_glamorous" class="form-control" formControlName="clipin_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="clipin2" (click)="increment('clipin2')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="clipin2" (click)="decrement('clipin2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group makeup">
												<label for="" class="title">Makeup Services <a (click)="modal3.show()">Learn more</a><span class="quantity">Quantity</span></label>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Glam Makeup - $250</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="glammakeup_glamorous" id="glammakeup_glamorous" class="form-control" formControlName="glammakeup_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="glammakeup2" (click)="increment('glammakeup2')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="glammakeup2" (click)="decrement('glammakeup2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
									
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Glam Airbrush Makeup - $290</a></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="glambrush_glamorous" id="glambrush_glamorous" class="form-control" formControlName="glambrush_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
																<button class="btn btn-default" type="button" name="glambrush2" (click)="increment('glambrush2')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="glambrush2" (click)="decrement('glambrush2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-sm-9"><a class="toggle-service">Makeup Touchup for 1 - $30</a><br class="hidden-xs"/><small>(must book with a hair service)</small></div>
													<div class="col-sm-3 text-right">
														<div class="wrap">
															<div class="input-group spinner">
																<input type="text" name="touchup_glamorous" id="touchup_glamorous" class="form-control" formControlName="touchup_glamorous" value="0">
															</div>
															<div class="input-group-btn-vertical">
                                                             <button class="btn btn-default" type="button" name="touchup2" (click)="increment('touchup2')"><i class="glyphicon glyphicon-chevron-up hidden-xs"></i><i class="glyphicon glyphicon-plus visible-xs"></i></button>
																<button class="btn btn-default" type="button" name="touchup2" (click)="decrement('touchup2')"><i class="glyphicon glyphicon-chevron-down hidden-xs"></i><i class="glyphicon glyphicon-minus visible-xs"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="row service">
													<div class="col-xs-8">Group Touchup - $100</div>
													<div class="col-xs-4 text-right check">
														<div class="checkbox">
															<label>
																<input type="checkbox" name="glamtouch_glamorous" id="glamtouch_glamorous" formControlName="glamtouch_glamorous" (click)="increment('glamtouch_glamorous')"> 
															</label>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group summary_glamorous" *ngIf="isSelected2()">
												<label for="" class="title">Order Summary</label>
												<div class="row" id="glamorous_blowout_row"  *ngIf="isSelected1('blowout2')">
													<div class="col-xs-9">Glamorous Blowout ({{ heroForm.get('blowout_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_blowout_total">{{ heroForm.get('blowout_glamorous').value * 175 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_downdo_row"  *ngIf="isSelected1('downdo2')">
													<div class="col-xs-9">Glamorous Downdo ({{ heroForm.get('downdo_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_downdo_total">{{ heroForm.get('downdo_glamorous').value * 175 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_updo_row"  *ngIf="isSelected1('updo2')">
													<div class="col-xs-9">Glamorous Updo ({{ heroForm.get('updo_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_updo_total">{{ heroForm.get('updo_glamorous').value * 195 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_glammakeup_row"  *ngIf="isSelected1('glammakeup2')">
													<div class="col-xs-9">Glamorous Glam Makeup ({{ heroForm.get('glammakeup_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_glammakeup_total">{{ heroForm.get('glammakeup_glamorous').value * 250 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_glambrush_row"  *ngIf="isSelected1('glambrush2')">
													<div class="col-xs-9">Glamorous Glam Airbrush Makeup ({{ heroForm.get('glambrush_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_glambrush_total">{{ heroForm.get('glambrush_glamorous').value * 290 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_touchup_row"  *ngIf="heroForm.get('touchup_glamorous').value && isSelected1('touchup2')">
													<div class="col-xs-9">Makeup Touchup for 1 ({{ heroForm.get('touchup_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_touchup_total">{{ heroForm.get('touchup_glamorous').value * 30 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_glamtouch_row"  *ngIf="isSelected1('glamtouch_glamorous')">
													<div class="col-xs-9">Group Touchup ({{ heroForm.get('glamtouch_glamorous').value }})</div>
													<div class="col-xs-3 price">$<span id="glamorous_glamtouch_total">{{ heroForm.get('glamtouch_glamorous').value * 100 }}</span>.00</div>
												</div>
												<div class="row" id="glamorous_clipin_row"  *ngIf="isSelected1('clipin2')">
													<div class="col-xs-9">Clip-in Extensions (<span id="glamorous_clipin_qty"></span>)</div>
													<div class="col-xs-3 price">$<span id="glamorous_clipin_total"></span>.00</div>
												</div>
												<div class="row subtotal_row" id="subtotal_row_glamorous" >
													<div class="col-xs-3"><strong>Subtotal:</strong><br class="hidden-xs"/></div>
													<div class="col-xs-9 price">$<span id="subtotal_glamorous">{{ heroForm.get('totalamt_glamorous').value }}</span>.00<br><small>(18% gratuity calculated at checkout)</small></div>
												</div>
											</div>
										</div>
										<!-- END OF GLAMOROUS HTML -->

										<button type="submit" class="btn btn-lg btn-primary btn-block push">Continue</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
				
			 <app-modal #modal1>
    <div class="app-modal-header header">
      <button type="button" class="close" (click)="modal1.hide()">&times;</button>
    </div>
    <div class="app-modal-body modal-body">
      	<h3>Stylist Experience</h3>
							<p>Our pricing varies based on the stylist's level of experience. We strive to provide options that can fit into a variety of budgets.</p>
							<h4>Pretty Stylists <small>1 - 3 years of experience</small></h4>
							<p>Pretty stylists are recent graduates from the most respected cosmetology schools. We recommend booking blowouts and makeup touch-ups with these stylists.</p>
							<h4>Beautiful Stylists <small>3 - 6 years of experience</small></h4>
							<p>Beautiful stylists have refined their craft over many years with a wide range of clientele. We recommend beautiful stylists for date nights, corporate events, black tie affairs and proms.</p>
							<h4>Glamorous Stylists <small>Over 6 years of experience, published work.</small></h4>
							<p>Glamorous stylists have extensive experience, published work, and high profile and/or celebrity clientele. We recommend glamorous stylists for brides, red carpet events, camera-ready occasions, or if you just want to enjoy the full VIP experience.</p>
					
    </div>
    
  </app-modal>
  	 <app-modal #modal2>
    <div class="app-modal-header header">
      <button type="button" class="close" (click)="modal2.hide()">&times;</button>
    </div>
    <div class="app-modal-body modal-body">
		<h3>Hair Services</h3>
							<h4>Blowout</h4>
							<p>From wet to dry, sleek and chic or full and voluminous.<br>Duration: 1 Hour</p>
							<h4>Downdo</h4>
							<p>Dry styling - curls, waves, flat iron or braids.<br>Duration: 1 Hour</p>
							<h4>Updo</h4>
							<p>Any updo from a beautiful bun, chic chignon, pinup pompadour or elegant twist.<br>Duration: 1 Hour</p>
						</div>
      	
  </app-modal>
   <app-modal #modal3>
    <div class="app-modal-header header">
      <button type="button" class="close" (click)="modal3.hide()">&times;</button>
    </div>
    <div class="app-modal-body modal-body">
		<h3>Makeup Services</h3>
							<h4>Glam Makeup</h4>
							<p>Full makeup application as well as faux lashes upon request.<br>Duration: 1 Hour</p>
							<h4>Glam Airbrush Makeup</h4>
							<p>Full makeup including airbrush application as well as faux lashes upon request.<br>Duration: 1 Hour</p>
							<h4>Makeup Touch-up for 1 <small>(must book with a hair service)</small></h4>
							<p>Finishing touches on your look.<br>Duration: 15 minutes</p>
							<h4>Group Makeup Touch-up <small>(for groups of 2 to 4 people)</small></h4>
							<p>Finishing touches for all the members of your group.<br>Duration: 15 minutes per person</p>
						</div>
		
      	
  </app-modal>

  