<section class="faq long-faq" id="general">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<h1 class="push text-center">Frequently Asked Questions</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-8 col-md-offset-2">
				<!-- Get FAQ Repeater custom fields from this Page -->
									<div class="panel-group" id="accordion">
					<!-- open the loop -->
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	I’m late for my appointment. What should I do?									</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">
									If you’re running late, don’t worry.  We allow a 15 minute grace period for you to arrive.  If you are running late, please email us at appointment@beglammed.com or call (310) 362-6190 so we can contact your hairstylist or makeup artist asap. If you are more than 15 minutes late, we charge the full amount for your appointment as a no-show fee. In some cases, if your stylist is able to accommodate your late arrival, we charge an added fee ranging from $25-$50 depending on how late you arrive. 								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	What is your cancellation policy? 									</a>
								</h4>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">
									At beGlammed, we understand that things come up and you might need to cancel your appointment. If that happens, please keep in mind our cancellation policy: <br>
<br>
If you cancel up to four hours before your appointment, there is no charge. If you cancel between one and four hours before your appointment, you will be charged 50% of your total appointment cost. If you cancel less than one hour before your appointment, you will be charged 100% of your total appointment cost.								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	How should I prepare for my appointment?									</a>
								</h4>
							</div>
							<div id="collapse3" class="panel-collapse collapse">
								<div class="panel-body">
									For a makeup appointment, please make sure your face is completely clean and free of any makeup or mascara before the makeup artist arrives. <br>
<br>
If your appointment is for a blowout, we recommend your hair is washed and damp before your hairstylist arrives. For updos and dry styles, your hair should be clean and dry. We recommend washing your hair the night before your appointment to see the best results. 								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	What styles do you offer?									</a>
								</h4>
							</div>
							<div id="collapse6" class="panel-collapse collapse">
								<div class="panel-body">
									While we do create looks for our website to serve as inspiration, our clients are not limited to choosing from the styles shown in the Stylebook. All of the beGlammed stylists are well-versed in creating a variety of looks. We do ask that if you have specific look in mind for your hair or makeup, that you show your stylist a photo (or more than one) to give them a clear picture of your vision. <br>
<br>
Pro-tip: there’s no such thing as over-explaining what you want to your stylist! The more direction they have from you, the better chance you’ll be wowed by the results. <br>
								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	How long is the appointment?									</a>
								</h4>
							</div>
							<div id="collapse7" class="panel-collapse collapse">
								<div class="panel-body">
									A hair or makeup appointment will not exceed one hour in length. If you have both a hair and makeup appointment, it will not take longer than 90 minutes.								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	Can I request a hairstylist or makeup artist that I love for a future appointment?									</a>
								</h4>
							</div>
							<div id="collapse8" class="panel-collapse collapse">
								<div class="panel-body">
									Of course!  When you book your next appointment you will have the option of re-booking a previous hairstylist or makeup artist. If for some reason the stylist/artist is not available for the appointment time you would like to book, please remember that all our beauty professionals are talented and awesome!								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse15" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	What is the difference between your Expert and Elite stylists?									</a>
								</h4>
							</div>
							<div id="collapse15" class="panel-collapse collapse">
								<div class="panel-body">
									Each beGlammed stylist was thoughtfully selected and vetted through an extensive audition process by either our Founder or our highly-skilled team of artistry directors.<br>
 <br>
Expert stylists are professionals that have been freelancing for multiple years and are highly skilled in their craft. They can help elevate your look for a weekly blowout, maintenance glam, date night, bachelorette party, school dance or work event.<br>
 <br>
Elite stylists are the top talent in the industry. They have extensive portfolios and have freelanced in the entertainment industry with TV/film, editorial and and/or VIP or high profile clients. Elite Stylists oftentimes have an array of celebrity clients you have seen on the red carpet. They are perfect for a red carpet appearance, gala, photoshoot or your wedding day.								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	Is airbrush makeup better than hand-blended makeup?									</a>
								</h4>
							</div>
							<div id="collapse9" class="panel-collapse collapse">
								<div class="panel-body">
									Not necessarily.  Airbrush makeup tends to look more natural but does not provide as much coverage as hand-blended makeup on the face.  If you prefer medium to full coverage for foundation, we suggest having your makeup artist hand-blend a custom foundation for you.								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse10" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	Do you offer gift cards? 									</a>
								</h4>
							</div>
							<div id="collapse10" class="panel-collapse collapse">
								<div class="panel-body">
									Yes, we offer  e-Gift cards. Visit our &lt;a href="?p=995"&gt;gift cards page&lt;/a&gt; to make a purchase.								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse11" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	How last minute can I book my appointment?									</a>
								</h4>
							</div>
							<div id="collapse11" class="panel-collapse collapse">
								<div class="panel-body">
									You can book an appointment online or on on the beGlammed app up to three hours before the appointment time. If you need an appointment sooner than three hours please email us directly at appointment@beglammed.com. 								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	What products/tools do the beauty professionals carry with them? 									</a>
								</h4>
							</div>
							<div id="collapse12" class="panel-collapse collapse">
								<div class="panel-body">
									All beGlammed stylists use only professional, luxury-grade products. Each stylist’s kits are thoroughly inspected during the interview process to ensure they meet our quality standards. 								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse13" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	I had a problem with my service, who should I contact?									</a>
								</h4>
							</div>
							<div id="collapse13" class="panel-collapse collapse">
								<div class="panel-body">
									We take customer satisfaction seriously and we’re sorry to hear you had an issue with your service.  Please email us at  appointment@beglammed.com or call 310-362-6190 and one of our Client Relations Executives will be happy to discuss your concern. 								</div>
							</div>
						</div>
											<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse14" class="collapsed">
										<i class="glyphicon glyphicon-triangle-right"></i><i class="glyphicon glyphicon-triangle-bottom"></i>	If I am at the office do I still need to have wet hair for a blowout?									</a>
								</h4>
							</div>
							<div id="collapse14" class="panel-collapse collapse">
								<div class="panel-body">
									If you cannot get your hair completely wet, please try to dampen your hair. This will make the blowout process faster. Keep in mind, while the stylists do not carry shampoo or conditioner with them, they will have all other styling products and tools in their kits to give you the most glamorous results possible!  								</div>
							</div>
						</div>
										<!-- close the loop -->
					</div>
								<!-- end of Repeater custom fields and dynamic content -->
			</div>
		</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="text-center">Can't find the answer to your question? <br class="visible-xs"><a href="/about/contactus">Contact us »</a></p>
				</div>
			</div>
	</div>
</section>
