<footer class="footer dark" role="contentinfo">

				<div class="container">

				<div id="inner-footer" class="footer-links clearfix">
					
					<!-- ATTN:  Edit these menus by going to Appearance -> Menus -> Select Menu within WordPress -->
					<div class="row">

						<!-- Footer Bucket 1 -->
						<div class="col-sm-3 bucket">
							<h3>Company</h3>
							<ul id="menu-footer-bucket-1" class="footer-bucket list-unstyled"><li id="menu-item-696" class="about-us menu-item menu-item-type-post_type menu-item-object-page menu-item-696"><a href="https://www.beglammed.com/about/">About Us</a></li>
<li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a href="#">Leadership</a></li>
<li id="menu-item-695" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-695"><a href="#">Careers</a></li>
<li id="menu-item-769" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-769"><a href="#">Testimonials</a></li>
<li id="menu-item-1128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1128"><a href="#">Locations</a></li>
<li id="menu-item-694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-694"><a href="#">Press</a></li>
<li id="menu-item-693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-693"><a href="#">Contact Us</a></li>
</ul>						</div>

						<!-- Footer Bucket 2 -->
						<div class="col-sm-3 bucket">
							<h3>Services</h3>
							<ul id="menu-footer-bucket-2" class="footer-bucket list-unstyled"><li id="menu-item-701" class="services menu-item menu-item-type-post_type menu-item-object-page menu-item-701"><a href="https://www.beglammed.com/services/">Services</a></li>
<li id="menu-item-807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-807"><a href="#">Weddings</a></li>
<li id="menu-item-808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-808"><a href="#">Groups</a></li>
<li id="menu-item-702" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-702"><a href="#">Explore Styles</a></li>
<li id="menu-item-697" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-697"><a href="/faq">FAQ</a></li>
</ul>						</div>
						
						<!-- Footer Bucket 3 -->
						<div class="col-sm-3 bucket">
							<h3>Gifts</h3>
							<ul id="menu-footer-bucket-3" class="footer-bucket list-unstyled"><li id="menu-item-1012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1012"><a href="#">Gift Cards</a></li>
<li id="menu-item-9033" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9033"><a href="/packages">Packages</a></li>
</ul>						</div>

						<!-- Footer Bucket 4 -->
						<div class="col-sm-3 bucket">
							<h3>For Stylists</h3>
							<ul id="menu-footer-bucket-4" class="footer-bucket list-unstyled"><li id="menu-item-838" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-838"><a href="/about/joinourteam">Apply to be a beGlammed <br>makeup artist or hair stylist</a></li>
</ul>
							<h3>Community</h3>
							<ul class="social-media">
								<li class="facebook"><a href="#" target="_blank"></a></li>
								<li class="twitter"><a href="#" target="_blank"></a></li>
								<li class="pinterest"><a href="#" target="_blank"></a></li>
								<li class="instagram"><a href="#" target="_blank"></a></li>
							</ul>
						</div>
					</div>

				</div> <!-- end #inner-footer -->

				

				</div> <!-- end .container -->

				<div class="outter-footer">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<img class="brand hidden-xs" src="/assets/images/logo-white-2x.png" alt="">
								<p class="text-center source-org copyright">© 2017 beGlammed<br class="visible-xs"><span class="">&nbsp;&nbsp;|</span> <a href="#">Terms &amp; Conditions</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>

			</footer>