<div class="container" style="background: #fff;">
      <div class="row">
        <div class="col-md-6"><img src="/assets/images/top.jpg" class="img-responsive center-block"></div>
        <div class="col-md-6 zyrtec-header">
          <h2 style="margin: 20px 0px; text-transform: uppercase;">Look Your Best This Allergy Season</h2>
          <div style="margin-bottom: 15px;">ZYRTEC<sup>®</sup> and beGlammed have teamed up to offer you exclusive makeovers to help you combat <strong>ALLERGY FACE<sup>®</sup> beauty challenges</strong> due to watery eyes, red nose and puffiness. ZYRTEC<sup>®</sup> Celebrity Makeup Artist Jamie Greenberg provides her guide to getting the looks and professional tips to deal with those pesky beauty challenges from allergy symptoms. </div>
        </div>
      </div>
      
    </div>

	<div id="zabout" class="container" style="background: #eceeef; ">
      <div class="row">
        <div class="col-md-12" style="background: #168042; color: #fff; text-align: center; padding: 20px;">
            <div>“As an allergy sufferer, I know what it’s like when allergies hit. As a celebrity makeup artist, I recognize ALLERGY FACE<sup>®</sup> beauty challenges in so many of my clients, and use certain techniques so they can look their best.  I’m so excited the makers of ZYRTEC<sup>®</sup> teamed up with beGlammed – so all allergy sufferers can get the beauty solutions they need when the pollen count is high.”</div>
            <h4 style="color:#fff; margin: 10px;"> - Jamie Greenberg, ZYRTEC<sup>®</sup>&nbsp;Celebrity Makeup Artist</h4>
        </div>
      </div>
	<div class="row" style="padding-top: 20px;">
	<div class="col-md-3 col-md-offset-1"><img src="/assets/images/jamie.png" class="img-responsive right-block"></div>
        <div class="col-md-8 text-left">
	  <h2 style="margin: 10px 0px; text-transform: uppercase;">About Jamie Greenberg</h2>
          <div class="zcontent">
With wit, vivacity, and an imaginative approach to her craft, we bring to you Jamie Greenberg - one of Hollywood’s most indispensable makeup artists. Jamie’s unique ability to create looks that are as flawless on the red carpet as they are on the printed page has made her a sought-after beauty expert for both A-list actresses and top-tier women’s magazines and fashion publications. She’s teaming up with ZYRTEC<sup>®</sup> to provide allergy sufferers with the beauty know-how to continue to look great on those high pollen count days.
</div>
        </div>
	
        
      </div>
</div>


<div  class="container" style="background: #fff; padding-top: 20px;">
  <div class="row">
        <div class="col-md-12 text-center" style="margin: 20px;">
          <div class=" zcontent">
Sponsored by the makers of ZYRTEC<sup>®</sup>.  For more information about allergies this season, visit <a href="https://www.zyrtec.com/" style="font-weight: bold; color: #1d8241" target="_blank">ZYRTEC.com</a> and <a href="https://www.zyrtec.com/campaign_baselg" style="font-weight: bold; color: #1d8241" target="_blank">click here</a> to receive a coupon for your next purchase. 
	  </div>
        </div>  
      </div>