<section class="background">
	<div style="height:20px;"></div>
	<header>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<a class="navbar-brand" href="index.html">beGlammed</a>
						</div>
						<!-- Nonmobile progress bar -->
						<ol class="progression progress--large hidden-xs">
							<li class="is-active" data-step="1">
								<a>Select My Services</a>
							</li>
							<li data-step="2">
								Appt. Details
							</li>
							<li data-step="3">
								Appt. Location
							</li>
							<li data-step="4" class="progress__last">
								Check Out
							</li>
						</ol>
						<!-- Mobile progress bar -->
						<div class="row menubar visible-xs">
							<div class="col-sm-12 text-center">
								<ul class="mobile-status">
									<li class="step-1 fill"><a href="#">1. Services</a></li>
									<li class="step-2"><a href="#">2.</a></li>
									<li class="step-3"><a href="#">3.</a></li>
									<li class="step-4"><a href="#">4.</a></li>
								</ul>
							</div>

						</div>
						<ul class="nav navbar-nav pull-right">
                        <li>
                            <a id="ctl00_lnkMyAccount" href="#">My Account</a>
                        </li>
                    </ul>
					</div>
				</div>
			</header>

<router-outlet>
    
</router-outlet>
</section>



  