<div class="col-sm-12 col-md-9 main-content">
						<div class="card">
							<header style="background-image: url(assets/images/about-us-featured-image-1024x345.jpg);">
								
								<div class="overlay">
									<h1 class="page-title">About Us</h1>
								</div>
							</header>
							<div class="row visible-xs">
								<div class="col-sm-12">
									<ul id="menu-footer-bucket-2" class="footer-bucket list-unstyled"><li class="about-us menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-696"><a href="/about">About Us</a></li>
								   <li id="menu-item-696" class="about-us menu-item "><a routerLink="/about/aboutus">About Us</a></li>
<li id="menu-item-773" class="menu-item "><a routerLink="/about/leadership">Leadership</a></li>
<li id="menu-item-695" class="menu-item "><a routerLink="/about/careers">Careers</a></li>
<li id="menu-item-769" class="menu-item "><a href="/about/testimonals">Testimonials</a></li>
<li id="menu-item-1128" class="menu-item"><a href="/location">Locations</a></li>
<li id="menu-item-694" class="menu-item "><a href="/about/press">Press</a></li>
<li id="menu-item-693" class="menu-item"><a href="/about/contactus">Contact Us</a></li>
</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<article id="post-13" class="clearfix post-13 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
										<div class="mailmunch-forms-before-post" style="display: none !important;"></div><p><span style="font-weight: 400;">beGlammed is the leading on-demand beauty service that delivers professional hairstylists and makeup artists straight to your door. Tap the app to book a personal beauty team and get pampered on-demand in the comfort of your home, office, hotel, or any other location. The go-to mobile hair and makeup provider for everyone from working professionals, students, and busy mothers to brides, jetsetters, and celebrities.</span></p>
<p><span style="font-weight: 400;">beGlammed was founded in 2014 by Maile Pacheco, a beauty industry veteran, with over ten years of experience working for MAC cosmetics. Frustrated by the inconvenience of having to travel to a salon or retailer to have her hair and makeup done, Pacheco created an on-demand platform to connect clients with professional stylists through an easy booking process, and beGlammed was born.</span></p>

<p><span style="font-weight: 400;">Our rapidly expanding network of professional hairstylists and makeup artists is a loyal community dedicated to transforming the beauty industry by delivering clients a luxury experience anytime, anywhere. &nbsp;Clients can rely on beGlammed’s consistent, high quality service across the U.S. and Canada, and conveniently book an appointment at the touch of a button, whether at home or on the road. &nbsp;beGlammed saves clients’ time, and with two pricing options, the luxury services are&nbsp;accessible for every budget and every occasion. &nbsp;&nbsp;</span></p>
<div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
<p><span style="font-weight: 400;">Book. Relax. beGlammed!</span></p>
<div class="mailmunch-forms-after-post" style="display: none !important;"></div>									</article> <!-- end article -->
								</div>
							</div>
					</div>
					</div>