<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 col-md-12">
				<div class="row">
					<div class="col-sm-3 col-md-3 hidden-xs hidden-sm">
						<div class="well">
							<div id="sidebar" class="bar clearfix" role="complementary">

			<div class="bucket">
  		<h3 class="bucket-title">About</h3>
  		<ul id="menu-footer-bucket-1" class="footer-bucket list-unstyled"><li id="menu-item-696" class="about-us menu-item "><a routerLink="/index1/about/aboutus">About Us</a></li>
<li id="menu-item-773" class="menu-item "><a routerLink="/index1/about/leadership">Leadership</a></li>
<li id="menu-item-695" class="menu-item "><a routerLink="/index1/about/careers">Careers</a></li>
<li id="menu-item-769" class="menu-item "><a href="/index1/about/testimonals">Testimonials</a></li>
<li id="menu-item-1128" class="menu-item"><a href="/index1/location">Locations</a></li>
<li id="menu-item-694" class="menu-item "><a href="/index1/about/press">Press</a></li>
<li id="menu-item-693" class="menu-item"><a href="/index1/about/contactus">Contact Us</a></li>
</ul>		</div>
	
</div>

					</div>
					</div>
                    <router-outlet></router-outlet>
				
					
				</div>
			</div>			
		</div>
	</div>
</section>