<div class="col-sm-12 col-md-9 main-content">
						<div class="card">
						<header style="background-image: url(/assets/images/apply-featured-image-1024x345.jpg);">
								<div class="overlay">
									<h1 class="page-title">Join Our Team</h1>
								</div>
							</header>
							<!--<div class="row visible-xs">
								<div class="col-sm-12">
									<ul id="menu-footer-bucket-2" class="footer-bucket list-unstyled"><li class="about-us menu-item menu-item-type-post_type menu-item-object-page menu-item-696"><a href="https://www.beglammed.com/about/">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a href="https://www.beglammed.com/team/">Leadership</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-695"><a href="https://www.beglammed.com/careers/">Careers</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-769"><a href="https://www.beglammed.com/testimonials/">Testimonials</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1128"><a href="https://www.beglammed.com/locations/">Locations</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-694"><a href="https://www.beglammed.com/press/">Press</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-693"><a href="https://www.beglammed.com/contact/">Contact Us</a></li>
</ul>								</div>
							</div>-->
							<div class="row">
								<div class="col-sm-12">
									<article id="post-824" class="clearfix post-824 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
										<div class="mailmunch-forms-before-post" style="display: none !important;"></div>
										<p>beGlammed offers services in Atlanta, Austin, Boca Raton, Boston, Chicago, Dallas/Fort Worth, Fort Lauderdale, Houston, Inland Empire, Las Vegas, Los Angeles, Miami, Nashville, New York City, Orange County, Orlando, Palm Beach, Phoenix, San Diego, San Francisco, Scottsdale, and Toronto. If you don’t currently live in one of our service areas, we still encourage you to apply. We’re always expanding our talent base to new cities and we’d love to hear from you.</p>
										<div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
     <div class="row">
         <div class="col-sm-12 col-md-10 col-md-offset-1">
            <h2 class="smallheadline">beGlammed Hairstylist and Makeup Artist Application</h2>
               <h6>Click on the Apply Now link below to be redirected to a portal to begin your application process.</h6>
           <div class="text-center"><a href="https://beglammed.typeform.com/to/vT4U2O" class="btn btn-primary">Apply Now</a></div>
        </div>
      </div>
     <p></p>
<div class="mailmunch-forms-after-post" style="display: none !important;"></div>									</article> <!-- end article -->
								</div>
							</div>
						</div>
					</div>