section .card {
  
    background: white;
    border: 1px solid #f9e6dd;
}
.main-content .card header {
    background-size: cover;
    background-position: 50% 50%;
    height: 260px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.main-content .card header .overlay {
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;
}
.main-content .card header .overlay h1 {
    font-size: 60px;
    font-weight: 300;
    color: white;
    line-height: 260px;
    margin: 0;
    border: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.main-content .card article, .main-content .card .inner {
    padding: 60px;
}
 p {
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.7;
    font-weight: 100;
}


