
section .card {
  
    background: white;
    border: 1px solid #f9e6dd;
}
.main-content .card header {
    background-size: cover;
    background-position: 50% 50%;
    height: 260px;
    text-align: center;
    z-index: 1;
    position: relative;
}
.main-content .card header .overlay {
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.45);
    z-index: 2;
}
.main-content .card header .overlay h1 {
    font-size: 60px;
    font-weight: 300;
    color: white;
    line-height: 260px;
    margin: 0;
    border: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.main-content .card article, .main-content .card .inner {
    padding: 60px;
}
.nav-tabs {
    border-bottom: 1px solid #f7dcd0;
}
.nav-tabs.halfs li {
    width: 50%;
    margin-bottom: 10px;
}
.nav-tabs li {
    width: 25%;
}
.nav-tabs li.active a:hover {
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.tab-pane p {
    font-size: 16px;
    line-height: 1.6;
}
.nav > li {
    position: relative;
    display: block;
}
@media screen and (max-width: 767px)
{

ul.footer-bucket {
    background: #fdf6f3;
    overflow: auto;
    padding: 10px 0;
}
 ul.footer-bucket li {
    float: left;
    width: 50%;
    
    text-align: center;
        font-size: 14px;
}
  ul.footer-bucket li a {
    padding: 8px 0;
    display: block;
    color: #4A4A4A;
}

}