<div class="col-sm-12 col-md-9 main-content">
						<div class="card">
				<header style="background-image: url(assets/images/apply-featured-image-1024x345.jpg);">
								<div class="overlay">
									<h1 class="page-title">Careers</h1>
								</div>
							</header>
							<div class="row visible-xs">
								<div class="col-sm-12">
									<ul id="menu-footer-bucket-2" class="footer-bucket list-unstyled"><li class="about-us menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-696"><a href="/about">About Us</a></li>
								   <li id="menu-item-696" class="about-us menu-item "><a routerLink="/about/aboutus">About Us</a></li>
<li id="menu-item-773" class="menu-item "><a routerLink="/about/leadership">Leadership</a></li>
<li id="menu-item-695" class="menu-item "><a routerLink="/about/careers">Careers</a></li>
<li id="menu-item-769" class="menu-item "><a href="/about/testimonals">Testimonials</a></li>
<li id="menu-item-1128" class="menu-item"><a href="/location">Locations</a></li>
<li id="menu-item-694" class="menu-item "><a href="/about/press">Press</a></li>
<li id="menu-item-693" class="menu-item"><a href="/about/contactus">Contact Us</a></li>
</ul>
								</div>
							</div>
							<div class="inner">
								<div class="mailmunch-forms-before-post" style="display: none !important;"></div><p>beGlammed offers services in<strong> Los Angeles, New York City, Miami, Las Vegas, San Francisco, Toronto, Dallas, Fort Worth, Houston, Austin, Nashville, Atlanta, Palm Beach, Boca Raton, Fort Lauderdale, Phoenix, Scottsdale, Orange County, San Diego, Orlando, Boston, Chicago and Inland Empire </strong>.&nbsp;We are actively seeking talented individuals to join our in-house team in Los Angeles. &nbsp;</p><div class="mailmunch-forms-in-post-middle" style="display: none !important;"></div>
<div class="mailmunch-forms-after-post" style="display: none !important;"></div>								<div role="tabpanel">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs halfs" role="tablist">
										<li role="presentation" class="active"><a href="#stylists" aria-controls="stylists" role="tab" data-toggle="tab">Hairstylists &amp; Makeup Artists</a></li>
										<li role="presentation" class="two"><a href="#corporate" aria-controls="corporate" role="tab" data-toggle="tab">In-house <br class="visible-xs">Positions</a></li>
									</ul>
									<!-- Tab panes -->
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="stylists">
											<div class="row">
												<div class="col-sm-12">
													<p><strong>Interested in becoming a hairstylist or makeup artist for beGlammed?</strong></p>
<p>Join a world-class team of beauty professionals and enjoy flexible hours, while working among the best in the industry! We’re always looking for excellent hairstylists and makeup artists to join our team in all cities across the U.S., especially in Austin, Phoenix, or the San Francisco area. We encourage you to apply!</p>
<p>Click on the Apply Now link below to be redirected to a portal to begin your application process.</p>													<div class="text-center" style="display:none;"><a href="https://www.beglammed.com/?p=824" class="btn btn-primary">Apply Now</a></div>
<div class="text-center"><a href="https://beglammed.typeform.com/to/vT4U2O" class="btn btn-primary">Apply Now</a></div>
												</div>
											</div>
										</div>
										<div role="tabpanel" class="tab-pane" id="corporate">
											<div class="row">
												<div class="col-sm-12">
													<p>We’re looking for talented individuals who want to be a part of creating something extraordinary. Working at beGlammed is like joining a family, and there are tremendous opportunities to grow our organization across the country. We don’t have any openings available at this point in time but please check back in the near future for updates.</p>												</div>
											</div>
											<div class="text-center"><hr></div>
							        <div class="row">
							        	<div class="col-sm-12 text-center">
							        		<h2>Open Positions</h2>
							        	</div>
							        </div>
							        <div class="row">
												<div class="col-sm-12">
													<!-- Get Jobs Repeater custom fields from this Page -->
																										<!-- end of Repeater custom fields and dynamic content -->

									      </div>
											</div>
										</div>
									</div>
								</div>
							</div>
													</div>
					</div>