<div class="col-sm-12 col-md-9 main-content">
					<div class="card">
						<header style="background-image: url(assets/images/testimonials-featured-image-1-1024x345.jpg);">
								<div class="overlay">
									<h1 class="page-title">Testimonials</h1>
								</div>
							</header>
                            <div class="row visible-xs">
								<div class="col-sm-12">
									<ul id="menu-footer-bucket-2" class="footer-bucket list-unstyled"><li class="about-us menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-696"><a href="/about">About Us</a></li>
								   <li id="menu-item-696" class="about-us menu-item "><a routerLink="/about/aboutus">About Us</a></li>
<li id="menu-item-773" class="menu-item "><a routerLink="/about/leadership">Leadership</a></li>
<li id="menu-item-695" class="menu-item "><a routerLink="/about/careers">Careers</a></li>
<li id="menu-item-769" class="menu-item "><a href="/about/testimonals">Testimonials</a></li>
<li id="menu-item-1128" class="menu-item"><a href="/location">Locations</a></li>
<li id="menu-item-694" class="menu-item "><a href="/about/press">Press</a></li>
<li id="menu-item-693" class="menu-item"><a href="/about/contactus">Contact Us</a></li>
</ul>
								</div>
							</div>
							
							
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/Allie-Long2.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>beGlammed made my other biggest day of the year so special! My bridesmaids and I felt so pampered and beautiful. beGlammed takes home the gold for on-demand hair and makeup services. <small>USWNT soccer player and Olympic athlete <br>Allie Long<em>, Miami, FL</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/francesca_eastwood_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>Big thank you to the genius app that thank the lordy lord is in L.A. now. beGlammed sent the wonderful Brittany Anna over to my house to get ready last night! beGlammed L.A. is making my life easier and prettier.  <small>Francesca Eastwood<em>, Los Angeles, CA</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/jordan_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span> I adore working with the BeGlammed gals, and I even have a go-to makeup artist named Brittany who is also a Sactown girl in LA like me. We had a blast filming &amp; can’t wait to share the beauty tutorials on our YouTube channels! <small>Jordan<em>, Los Angeles, CA</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/nathalia_ramos_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>beGlammed came to my house and got me all glammed up for tonight. How amazing is that? Thank you! <small>Nathalia Ramos<em></em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/devon_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>I loved the messy bun my stylist created for this look. And I love that each beGlammed stylist is equipped to do whatever your little heart desires!" Be sure to download the beGlammed app to have beauty services delivered straight to your doorstep! <small>Devon Rachel<em>, Dallas, TX</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/paris_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>Thank you beGlammed! Such a sick beauty app! You guys rock! <small>Paris Hilton<em></em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/testimonial-headshot-1-1.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>The team at beGlammed so kindly sent over one of their amazing stylists to do my makeup and hair before the Golden Globes viewing party. My stylist, Brittany and I had a blast creating this "old hollywood glam" look. If you're ever looking for hair and makeup in the comfort of your own home, beGlammed is a fab option. <small>Ash<em>, Los Angeles, CA</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/lauryn_evarts_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>Obsessed with their at-home services! <small>Lauryn Evarts<em></em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/erica_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>My makeup artist, Valen, was seriously so amazing and such a wealth of information! I wanted a very dewy/bronzed look with a nude “Kylie” lip and she mastered my vision perfectly. During our time together she was also totally down with sharing recommendations of products to use and gave me some super helpful mini beauty tutorials. <small>Erica<em>, San Diego, CA</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/lynsey_eaton_testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>beGlammed is our fave on-demand app! <small>Lynsey Eaton of Tomboy KC <em></em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
															<br>
							<article id="post-759" class="row testimonial clearfix post-759 page type-page status-publish has-post-thumbnail hentry" role="article" itemscope="" itemtype="http://schema.org/BlogPosting">
								
								<div class="logo col-sm-4 text-center">
									<img src="assets/images/testimonial_edit.jpg" alt="" class="img-thumbnail img-responsive"><br>
								</div>

								<div class="col-sm-8">
									<blockquote><span>“</span>I felt like such a Princess having the full glam treatment come to me! If you have a birthday, wedding, or just a fun Friday night out, I definitely recommend booking an appointment with beGlammed app ASAP! <small>Becky<em>, Dallas, TX</em></small></blockquote>
								</div>
								
							</article> <!-- end article -->
							
														
													</div>
					</div>