<header class="header" role="banner">
					

					<!-- Begin Beglammed Nav Bar -->
					<nav role="navigation">
						<div class="navbar navbar-default">
							<div class="container">
								<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" (click)="toggleMove()">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="text">Menu</span>
									</button>

									<a class="navbar-brand" href="https://www.beglammed.com/" title="beGlammed" rel="homepage">beGlammed</a>

								</div>
								 <div    [@slideInOut]="state"  >
      <ul id="menu-mobile-main-nav" class="nav navbar-nav   ">
              <li  class="menu-item"><a href="#">Explore Styles</a></li>
                <li  class="menu-item"><a href="#">Services</a></li>
                <li  class="menu-item"><a href="#">Weddings</a></li>
                <li  class="menu-item"><a href="/index1/packages">Packages</a></li>
                <li  class="menu-item"><a href="#">Gift cards</a></li>
                <li  class="menu-item"><a href="/index1/learnmore">ALLERGY FACE<sup>®</sup></a></li>
                <li  class="menu-item"><a href="/index1/about">About</a></li>
                <li  class="menu-item"><a href="/index1/about/contactus">Contact Us</a></li>
                <li  class="menu-item"><a href="#"><strong>1-866-948-9645</strong></a></li>
                <li  class="menu-item"><a href="#">Log In</a></li>
         </ul>
      </div>

								<div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
									
									<ul id="menu-top-nav" class="nav navbar-nav primary hidden-xs"><li id="menu-item-35" class="menu-item "><a href="https://www.beglammed.com/explore-styles/">Explore Styles</a></li>
<li id="menu-item-34" class="menu-item "><a href="https://www.beglammed.com/services/">Services</a></li>
<li id="menu-item-1015" class="menu-item "><a href="https://www.beglammed.com/wedding-services/">Weddings</a></li>
<li id="menu-item-9030" class="menu-item "><a href="/index1/packages">Packages</a></li>
<li id="menu-item-10455" class="menu-item "><a href="/index1/learnmore">ALLERGY FACE<sup>®</sup></a></li>
<li id="menu-item-32" class="menu-item "><a href="/index1/about">About</a></li>
</ul>

									<ul class="nav navbar-nav utility hidden-xs">
<li id="login"><a href="#">Log In</a></li>
										<li><a href="tel:1-844-595-6773"><i class="glyphicon glyphicon-earphone"></i>1-844-595-6773</a></li>
									</ul>

									
									

								</div>
							</div>
						</div> 
						
					</nav>

				</header>