<section class="bgmain">
	
     <div class="row">
			<div class="col-sm-6">
				<h1>Look Your Best</h1>
				<h2>Top rated hairstylists and makeup artists <br class="hidden-xs ">come directly to you.</h2>
			</div>
		</div>
    <div class="row">
			<div class="col-sm-10 col-md-7 col1">
				
<form action="#" class="form" id="booking" type="POST" novalidate="novalidate">

	<div class="form-group">
		<div class="input-group">
			<div class="col-sm-3 col-xs-12 tight">
				<select name="location" id="location" class="form-control " required aria-required="true"><option value="25">Atlanta</option><option value="11">Austin</option><option value="17">Boca Raton</option><option value="27">Boston</option><option value="31">Chicago</option><option value="1">Dallas/Fort Worth</option><option value="18">Fort Lauderdale</option><option value="7">Houston</option><option value="26">Indio/Palm Springs</option><option value="28">Inland Empire</option><option value="2">Las Vegas</option><option value="3">Los Angeles</option><option value="14">Miami</option><option value="24">Nashville</option><option value="10">New York City</option><option value="9">Orange County</option><option value="23">Orlando</option><option value="16">Palm Beach</option><option value="15">Phoenix/Scottsdale</option><option value="13">San Diego</option><option value="19">San Francisco</option><option value="21">Toronto</option></select>
			</div>
			
			<div class="col-sm-3 tight">
				<input type="hidden" name="date" id="data_date" placeholder="Date" style="border-radius: 0">
				<input type="date" id="date" class="form-control  hidden-xs " placeholder="Date" required="" style="border-radius: 0" aria-required="true">
			</div>
			
			<div class="col-sm-3 tight" id="time_container">
			<select name="time " id="time" class="form-control " required aria-required="true"><option value="25">4:00pm</option><option value="11">4:30pm</option><option value="17">5:00pm</option><option value="27">5:30pm</option><option value="31">6:00pm</option><option value="1">6:30pm </option><option value="18">7:00pm</option><option value="7">7:30pm</option><option value="26">8:00pm</option><option value="28">8:30pm</option><option value="2">9:00pm</option><option value="3">9:30pm</option><option value="14">10:00</option></select>
				
			</div>
				
			<div class="col-sm-3 col-xs-12 tight">
				<div class="input-group-btn">
					<button class="btn btn-primary btn-block">Book an Appointment</button>
				</div>
			</div>
			
		</div>
	</div>
</form>
</div>
</div>
    
</section>
<section class="logos darkPink">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img class="hidden-xs img-responsive" src="/assets/images/logo-bar-desktop.jpg" alt="Marie Claire logo, People logo, Vanity Fair logo, Nylon logo, Los Angeles Times logo">
				<img class="visible-xs img-responsive" src="/assets/images/logo-bar-mobile.jpg" alt="Marie Claire logo, People logo, Vanity Fair logo, Nylon logo, Los Angeles Times logo">
			</div>
		</div>
	</div>
</section>
<section class="section2" id="section2">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center col2">
				<h2 >Hair and Makeup <br class="visible-xs">for Any Occasion</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 text-center">
				<a href="#"><img class="img-responsive" src="/assets/images/indiv2.jpg" alt=""></a>
				<h3>Individuals</h3>
				<p>Full makeup and hair styling in the comfort<br class="hidden-xs hidden-sm"> of your home, office or hotel.</p>
				<a href="#" class="btn btn-primary">Book Now</a> <a href="#" class="btn btn-default">Learn more</a>
			</div>
			<div class="col-sm-4 text-center">
				<a href="#"><img class="img-responsive" src="/assets/images/unnamed-2.jpg" alt=""></a>
				<h3>Groups</h3>
				<p>Perfect for a night out on the town,<br class="hidden-sm"> corporate events or photo shoots.</p>
				<a href="#" class="btn btn-primary">Book Now</a> <a href="#" class="btn btn-default">Learn more</a>
			</div>
			<div class="col-sm-4 text-center">
				<a href="#"><img class="img-responsive" src="/assets/images/unnamed-3.jpg" alt=""></a>
				<h3>Weddings</h3>
				<p>Full service appointments for weddings,<br class="hidden-sm"> rehearsals, bridal showers and engagements.</p>
				<a href="#" class="btn btn-primary">Book Now</a> <a href="#" class="btn btn-default">Learn more</a>
			</div>
			</div>
		</div>
	
</section>
<section class="section3">
	<div class="container">
		
		
			<div class="row">
				
				
					<div class="col-sm-6 col-md-5 text-center ">
						<img src="/assets/images/home_zyrtec.jpg" class="img-responsive " style="margin-top: 40px;">
					</div>
					<div class="col-sm-6 col-md-7 text-left">
						<h1 style="text-align: left; padding-top: 65px;">LOOK FLAWLESS THIS ALLERGY SEASON</h1>
						<p style="text-align: left;padding-top: 50px; ">We've partnered with the makers of ZYRTEC<sup>®</sup> to help you combat <strong>ALLERGY FACE</strong><sup>®</sup> beauty challenges. ZYRTEC<sup>®</sup> Celebrity Makeup Artist Jamie Greenberg shares exclusive ALLERGY FACE<sup>®</sup> looks and tips for when the pollen count is high. </p>
						<p style="text-align: center;padding-top: 10px;"><a  class="btn btn-lg btn-primary" >Book Now</a> <a  style="margin-left: 15px; text-decoration: underline;" routerLink="/learnmore">Learn More</a></p>
					</div>
				
			</div>
		
		
		
	</div>
</section>
<section class=" section4">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col2 text-center">
				<h2>Our Clients <i class="glyphicon glyphicon-heart"></i> beGlammed</h2>
			</div>
		</div>
	
				<div class="row">
			
					<div class="col-sm-6 col-md-4 text-center ">
						<div class="text-center">
						  <img class="thumbnail img-circle" src="/assets/images/Allie-Long2.jpg" alt="">
						</div>
						<blockquote>
							“beGlammed made my other biggest day of the year so special! My bridesmaids and I felt so pampered and beautiful. beGlammed takes home the gold for on-demand hair and makeup services.” 
							<small>USWNT soccer player and Olympic athlete <br>Allie Long,	<em>Miami, FL</em></small>
						</blockquote>
					</div>
					<div class="col-sm-6 col-md-4 text-center hidden-xs">
					  <div class="text-center">	
						<img class="thumbnail img-circle" src="/assets/images/testimonial-headshot-1-1.jpg" alt="">
					  </div>	
						<blockquote>
							“One of the amazing beGlammed stylists did my makeup and hair before the Golden Globes viewing party. My stylist, Brittany, and I had a blast creating this 'old hollywood glam' look.” 
							<small>Ash,	<em>Los Angeles, CA</em></small>
						</blockquote>
					</div>
					<div class="col-sm-6 col-md-4 text-center  hidden-sm ">
					  <div class="text-center">	
						<img class="thumbnail img-circle" src="/assets/images/erica_testimonial_edit.jpg" alt="">
					  </div>	
						<blockquote>
							“My makeup artist, Valen, was seriously so amazing and such a wealth of information! She shared recommendations for products and gave me helpful mini beauty tutorials.”
							 <small style="content:'\2014 \00A0';">Erica,	<em>San Diego, CA</em></small>
						</blockquote>
					</div>
							
			</div>
		
		<div class="row">
			<div class="col-sm-12 text-center">
				<p><a href="#">More testimonials »</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="#" class="btn btn-lg btn-primary">Book Now</a>
			</div>
		</div>
	</div>
</section>

<section class=" section5 ">
	<div class="container">
		<div class="row">
			<div class=" col2 text-center">
				<h1>Frequently Asked Questions</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a #elm data-toggle="collapse" data-parent="#accordion"  class="collapsed" (click)="toggleMove(elm.id)" id="0">
											<span class="glyphicon glyphicon-triangle-{{sign}}"></span>		I’m late for my appointment. What should I do?									</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse" [@slideInOut]="state">
									<div class="panel-body">
										If you’re running late, don’t worry.  We allow a 15 minute grace period for you to arrive.  If you are running late, please email us at appointment@beglammed.com so we can contact your hair stylist or makeup artist. If you are more than 15 minutes late, we charge the full amount for your appointment as a no-show fee.<br>
									
																			</div>
								</div>
							</div>			
							
					<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a   #elm1 data-toggle="collapse" data-parent="#accordion"  class="collapsed" (click)="toggleMove(elm1.id)" id="1">
											<span class="glyphicon glyphicon-triangle-{{sign}}"></span>	What is your cancellation policy?										</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse" [@slideInOut]="state1">
									<div class="panel-body">
										At beGlammed, we understand that things come up and you might need to cancel your appointment. = If that happens, please keep in mind our cancellation policy: <br>
<br>
If you cancel up to four hours before your appointment, there is no charge. If you cancel between one and four hours before your appointment, you will be charged 50% of your total appointment cost. If you cancel less than one hour before your appointment, you will be charged 100% of your total appointment cost.									</div>
								</div>
							</div>
													<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a #elm2 data-toggle="collapse" data-parent="#accordion"  class="collapsed" (click)="toggleMove(elm2.id)" id="2">
											<span class="glyphicon glyphicon-triangle-{{sign}}"></span>
											How should I prepare for my appointment?										</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse" [@slideInOut]="state2">
									<div class="panel-body">
										For a makeup appointment, please make sure your face is completely clean and free of any makeup or mascara before the makeup artist arrives. <br>
<br>
If your appointment is for a blowout, we recommend your hair is wet before your hairstylist arrives. For updos and downdos your hair should be clean and dry. We recommend washing your hair the night before your appointment to see the best results. 									</div>
								</div>
							</div>
													<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a #elm3 data-toggle="collapse" data-parent="#accordion"  class="collapsed" (click)="toggleMove(elm3.id)" id="3">
											<span class="glyphicon glyphicon-triangle-{{sign}}"></span>
		                         	How last minute can I book my appointment?										</a>
									</h4>
								</div>
								<div id="collapse6" class="panel-collapse collapse" [@slideInOut]="state3">
									<div class="panel-body">
										You can book an appointment online or on on the beGlammed app up to three hours before the appointment time. If you need an appointment sooner than three hours please email us directly at appointment@beglammed.com.									</div>
								</div>
							</div>
											
					</div>
							
			
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="text-center">
					Don't see your question here?  <a href="/faq">More FAQs »</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="app pink section6" id="download">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-md-offset-1 text-right hidden-xs">
				<img src="/assets/images/iphone.jpg" class="phone" alt="">
			</div>
			<div class="col-sm-7 col-md-4 text-center">
				<h2>Download beGlammed<br>for iOS &amp; Android</h2>
				
				<div class="row">
					<div class="col-xs-6">
						<a href="#" target="_blank"><img src="/assets/images/app-store-badge.jpg" class="img-responsive" alt=""></a>
					</div>
					<div class="col-xs-6">
						<a href="#" target="_blank"><img src="/assets/images/google-play-badge.jpg" class="img-responsive" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


