
<!--<div style="display: inline; max-height: 52px;">
    <p><strong>$50 Expert Blowouts! Today. Tomorrow. Every Day.</strong></p>
    <a  href="#"  style="color: #ffffff; background-color: #78343e; border-color: #78343e" rel="nofollow">
    <p>Book</p></a>
</div>-->
<nav role="navigation"  class="topbar" [@slideInOut]="state" >
						<div class="navbar navbar-default navbar2">
							
								
								<div class="navbar-header">
									
                                    <p><strong class="topbartext">$50 Expert Blowouts! Today. Tomorrow. Every Day.</strong> 
									<a  href="/checkout" ><button class="btn btn-primary">book</button></a>

								</div>
						
						</div>  
</nav>                     

<my-Header1></my-Header1>


<router-outlet></router-outlet>


<my-footer></my-footer>


 <!--<div class="container">
    <h1>Reactive Forms</h1>
    <hero-list></hero-list>
  </div>-->
  